html * {
  font-family: "Lucida Console", "Courier New", monospace;
}

div {
  border-radius: 5px;
}

button {
  -webkit-app-region: no-drag;
}

.stopwatch-section {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: flex-end;    
  justify-content: flex-end;
}

.stopwatch-list {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.add-stopwatch-container {
  background-color: black;
  color: white;
  text-align: center;
  width: 60%;
  padding: 2% 2% 2% 2%;
}
.add-stopwatch-container > button {
  margin: 5% 5% 5% 5%;
}

.title-and-main-buttons {
  display: flex;
  width: 100%;
  padding: 3% 3% 3% 3%;
  flex-direction: row;
  align-content: space-between;
}

.title-and-main-buttons > span {
  width: 80%;
}

.fa-window-close:hover {
  transition: 0.2s ease-out;
  color: rgb(196, 54, 54);
}

.fa-calendar:hover {
  transition: 0.2s ease-out;
  color: rgb(47, 187, 42);
}

.window-close-div {
  width: 10%;
  margin-right: 5%;
  align-self: right;
  -webkit-app-region: no-drag;
  text-align: center;
  vertical-align: middle;
}

.show-calendar-div {
  width: 10%;
  align-self: left;
  -webkit-app-region: no-drag;
  text-align: center;
  vertical-align: middle;
}

