html * {
    font-family: "Lucida Console", "Courier New", monospace;
}

div {
    -webkit-app-region: no-drag;
}

button {
    -webkit-app-region: no-drag;
}

.bordered-section {
    border: 1px;
    border-style: solid;
    border-color: rgb(70, 60, 60);
}

.my-stopwatch-body {
    height: 60px;
    /* display: flex; */
    /* width: 70%; */
    /* align-self: right; */
    /* flex-direction: column;
    justify-content: center;
    max-width: 95%;
    max-height: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    background-color: rgb(134, 176, 173);
    box-shadow: 0in;
    transition: 0.5s ease-out 0.2s */
}

.my-stopwatch-body:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: 0.7s ease-out 0s;
    background-color: rgb(169, 169, 241);
}

.my-stopwatch-task {
    display: flex;
    height: 0%;
    width: 100%;
    padding: 2% 2% 2% 2%;
    visibility: hidden;
}

.my-stopwatch-body:hover>.my-stopwatch-task {
    height: auto;
    visibility: visible;
}

.my-stopwatch-body:hover>.my-stopwatch-buttons {
    height: auto;
    visibility: visible;
}

.fa-trash:hover {
    color: red;
}

.my-stopwatch-buttons {
    display: flex;
    justify-content: space-between;
    height: 0%;
    margin: 2% 2% 2% 2%;
    visibility: hidden;
}

.my-stopwatch-start-button-div {
    width: 33%;
    margin: 2% 2% 2% 2%;
}

.my-stopwatch-start-button {
    width: 100%;
}

.my-stopwatch-stop-button-div {
    width: 33%;
    margin: 2% 40% 2% 2%;
}

.my-stopwatch-stop-button {
    width: 100%
}

.my-stopwatch-save-button-div {
    width: 33%;
    align-self: right;
    margin: 2% 2% 2% 2%;
    min-width: 0;
}

.my-stopwatch-save-button {
    width: 100%
}

.my-stopwatch-clock {
    text-align: center;
    align
    width: 50%;
    height: auto;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
}

.my-stopwatch-clock-text {
    display: inline-block;
    min-width: 10px;
    width: 100%;
    height: 100%;
}


.my-stopwatch-text-div  {
    height: 100%;
    width: 90%;
    align-self: center;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;

}

.my-stopwatch-text {
    display: inline-block;
    min-width: 10px;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
}

.my-stopwatch-trash-div {
    width: 10%;
    margin-left: 5%;
    align-self: right;
}