.bordered-section {
    border: 1px;
    border-style: solid;
    border-color: rgb(70, 60, 60);
}

.my-stopwatch-body {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.fa-trash:hover {
    color: red;
}

.my-stopwatch-buttons {
    display: flex;
    justify-content: space-between;
}

.my-stopwatch-start-button-div {
    width: 33%;
    margin: 2% 2% 2% 2%;
}

.my-stopwatch-start-button {
    width: 100%;
}

.my-stopwatch-stop-button-div {
    width: 33%;
    margin: 2% 40% 2% 2%;
}

.my-stopwatch-stop-button {
    width: 100%
}

.my-stopwatch-save-button-div {
    width: 33%;
    align-self: right;
    margin: 2% 2% 2% 2%;
    min-width: 0;

}

.my-stopwatch-save-button {
    width: 100%
}

.my-stopwatch-clock {
    align-self: center;
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
}

.my-stopwatch-clock-text {
    display: inline-block;
    min-width: 10px;
    width: 100%;
    height: 100%;
}

.my-stopwatch-task {
    display: flex;
    height: 30%;
    width: 100%;
    padding: 2% 2% 2% 2%;
}

.my-stopwatch-text-div  {
    height: 100%;
    width: 90%;
    align-self: center;
    border-radius: 5px;
}

.my-stopwatch-text {
    display: inline-block;
    min-width: 10px;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
    background-color: bisque;
}

.my-stopwatch-trash-div {
    width: 10%;
    margin-left: 5%;
    align-self: right;
}